body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 33vw;
  height: 80vh;
}
.results {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-right: 10px;
}
.result-display {
  font-size: larger;
}
.values-input {
  font-size: medium;
}
.container .basic-buttons {
  display: flex;
  flex-direction: row;
}
.container .basic-buttons .input-numbers-operations {
  display: flex;
  flex-wrap: wrap-reverse;
}
.container .basic-buttons .sidebar-right {
  display: flex;
  flex-direction: column;
}
.container .bottom-options {
  display: flex;
}
button {
  width: calc(33vw / 4);
  height: calc(50vh / 4);
  font-size: larger;
}
